@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
}

.container 
{
    max-width: 1200px;
    margin: 0 auto;
}

.header
{
    background-image: linear-gradient(
        rgba(0,0,0),
        rgba(0,0,0));
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 50vh;
        display: flex;
        align-items: center;
}

.menu
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    color: #f8f5f3;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li
{
    position: relative;
    float: left;
}
.menu .navbar ul li a
{
    font-size: 18px;
    padding: 20px;
    color: #f8f5f3;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover
{
    color: #cf997e;
}

#menu
{
    display: none;
}

.menu-icono
{
    width: 25 px;
}

.menu label
{
    cursor: pointer;
    display: none;
}

.header-content
{
    text-align: center;
}

.header-content h1
{
    font-size: 45px;
    line-height: 50px;
    color: #dcdddf;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-content p
{
    font-size: 16px;
    color: #dfdbdb;
    padding: 0 150 px;
    margin-bottom: 25px;
}

.pag
{
    background-color: black;
    width: 100%;
}

.pag-img
{
    width: 40%; 
    max-height: 500px; /* Define una altura máxima para controlar el tamaño */
    object-fit: cover; /* Asegura que la imagen mantenga proporción */
    display: block;
    margin: 0 auto; /* Centra la imagen */
}

.paginas
{
        background-color: black;
        width: 100%;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 30vh;
        display: flex;
        align-items: center;
}

.pag-content 
{
    color: #f8f5f3;
    font-size: 45px;
    font-weight: 600;
}
.pag-content .navbar ul li
{
    position: relative;
    float: left;
}
.pag-content .navbar ul li a
{
    font-size: 18px;
    padding: 20px;
    color: #f8f5f3;
    display: block;
    font-weight: 400;
}

.pag-content .navbar ul li a:hover
{
    color: #cf997e;
}

.autor {
    background-color: rgb(20, 17, 17); /* Cambia el fondo a negro */
    color: white; /* Texto blanco para contraste */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Agrega un poco de espacio interno */
    width: 100%; /* Asegúrate de que cubra todo el ancho */
    position: relative; /* Estilo opcional si hay solapamiento */
}
html {
    scroll-behavior: smooth;
}
