@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body
{
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
}

.container 
{
    max-width: 1200px;
    margin: 0 auto;
}

.header
{
    background-image: linear-gradient(
        rgb(12, 11, 11),
        rgb(12, 11, 11));
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 30vh;
        display: flex;
        align-items: center;
}

.menu
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo
{
    color: #f8f5f3;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li
{
    position: relative;
    float: left;
}
.menu .navbar ul li a
{
    font-size: 18px;
    padding: 20px;
    color: #f8f5f3;
    display: block;
    font-weight: 600;
    margin-bottom: 25px;
}

.menu .navbar ul li a:hover
{
    color: #cf997e;
}

#menu
{
    display: none;
}



.header-content
{
    text-align: center;
}

.header-content h1
{
    font-size: 45px;
    line-height: 50px;
    color: #dcdddf;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-content p
{
    font-size: 16px;
    color: #dfdbdb;
    padding: 0 150 px;
    margin-bottom: 25px;
}

.cuerpo
{
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.cuerpo p
{
    font-size: 16px;
    color: #000000;
    padding: 0 150 px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.fotoJavier {
    width: 30%; 
    max-height: none;
    object-fit: contain;
    display: block;
    margin: 0 auto; 
}

.cuerpo .navbar
{
    background-color: rgb(0, 0, 0);
    width: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 13vh;
    justify-content: center;
    display: flex;
}

.cuerpo h1
{
    font-size: 24px;
    color: #dfdbdb;
    padding: 0 150px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    position: relative;
}

.cuerpo .navbar ul li
{
    position: relative;
    float: left;
    display: left;
}
.cuerpo .navbar ul li a
{
    font-size: 18px;
    padding: 20px;
    color: #1b8aac;
    display: block;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.cuerpo .navbar ul li a:hover
{
    color: #2847d1;
    background-color: rgba(255, 255, 255, 0.1);
}

.autor {
    background-color: rgb(20, 17, 17); /* Cambia el fondo a negro */
    color: white; /* Texto blanco para contraste */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Agrega un poco de espacio interno */
    width: 100%; /* Asegúrate de que cubra todo el ancho */
    position: relative; /* Estilo opcional si hay solapamiento */
}

html {
    scroll-behavior: smooth;
}